/* styles.css */
body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1d4ed8;
}

footer {
    background-color: #1d4ed8;
}

section {
    padding: 5rem 0;
}

    section h2 {
        margin-bottom: 1rem;
    }
